/*
    Foglio di stile degli eventi
*/

/*
    Per ogni elemento della pagina Width e height includono contenuto, padding e border
*/
* {
    box-sizing: border-box;
}

/*  
    Stabilisce la posizione, la dimensione, il colore del testo e lo z-index all'interno della timeline  
*/
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
    z-index: -1;
}

/* 
    Stabilisce la posizione, la dimensione,il colore di sfondo della timeline verticale
*/ 
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* 
    Modifica le dimensione, posizione, colore di sfondo, font e grandezza del font dei box che contengono gli eventi 
*/
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/* 
    Crea i cerchi all'interno della timeline verticale definendone: posizione, colore e dimensione
*/
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #4E95D7;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* 
    Gestisce la posizione dei box presenti a sinistra 
*/
.left {
    left: 0;
}

/* 
    Gestisce la posizione dei box presenti a destra
 */
.right {
    left: 50%;
}

/* 
    Aggiunge le frecce  dei box che si trovano a sinistra indicandone posizione, dimensioni e colore
*/
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/*
    Aggiunge le frecce  dei box che si trovano a destra indicandone posizione, dimensioni e colore 
*/
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* 
    Posiziona sopra la timelinea verticale i cerchi dei box presenti sulla destra
*/
.right::after {
    left: -16px;
}


/*  
    Gestisce lo stile di ogni box 
*/
.content {  
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}